# Environments
.env
.venv
venv
env/
__pycache__
*.pyc
.DS_Store

# Frontend
node_modules
dist
build
.cache

# Backend specific
backend/data/uploads/
backend/outputs/
backend/models/
*.pt
*.pth
*.onnx

# IDE
.idea/
.vscode/
